body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue' 'Proxima Nova Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://static-fastly.hackerearth.com/newton/static/images/top-m-bg.svg')
    bottom/100%;
  padding-bottom: 1%;
  background-repeat: repeat-y;
  background-size: cover;
}
hr.dashed {
  border-top: 1px dashed #8c8b8b;
}
.card-shadow {
  box-shadow: 0px 3px 30px rgb(25 45 100 / 20%);
}

.wrapper {
  margin-top: 50px;
  display: flex;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* position: absolute; */
}
.profile-card {
  box-shadow: 0px 0px 18px #ccc;
  width: 300px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.profile-card:hover .profile-card-header:after,
.profile-card.active .profile-card-header:after {
  background-color: rgba(90, 59, 150, 0.5);
  transition: all 0.6s ease;
}
.profile-card:hover .profile-card-header img,
.profile-card.active .profile-card-header img {
  border: 5px solid rgba(90, 59, 150, 0.5);
}
.profile-card:hover .profile-card-footer,
.profile-card.active .profile-card-footer {
  background-color: rgba(90, 59, 150, 0.5);
  transition: all 0.6s ease;
}
.profile-card-header {
  height: 150px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.profile-card-header:after {
  position: absolute;
  content: '';
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 300px;
  height: 200px;
  z-index: -1;
  left: 0;
  top: 0;
  margin-top: -80px;
}
.profile-card-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 5px solid #fff;
  padding: 2px;
  background-color: #fff;
  transition: all 0.5s ease;
}
.profile-card-body {
  height: 40px;
}
.profile-card-body h4 {
  color: #444;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 11px;
  margin-bottom: 15px;
  font-weight: 400;
}
.profile-card-body p {
  color: #444;
  text-transform: capitalize;
}
.profile-card-footer {
  height: 50px;
  line-height: 50px;
}
.profile-card-footer ul {
  margin-left: 0;
}
.profile-card-footer ul li {
  display: inline-block;
  text-align: left;
}
.profile-card-footer ul li a {
  color: #fff;
  margin-left: 15px;
}
@media screen and (max-width: 765px) {
  .wrapper {
    /* flex-direction: column; */
    flex-direction: unset;
    align-content: center;
    justify-content: center;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.social-container {
  box-shadow: 0px 3px 30px rgb(25 45 100 / 10%);
}

.header-shadow {
  box-shadow: 0 1px 20px 0 rgb(46 61 73 / 20%);
}
.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
.sticky {
  position: sticky;
  top: 0px;
  z-index: 999999;
}
